parameters:
	checkAlwaysTrueCheckTypeFunctionCall: false
	checkAlwaysTrueInstanceof: false
	polluteCatchScopeWithTryAssignments: false
	polluteScopeWithLoopInitialAssignments: true
	earlyTerminatingMethodCalls: []
	universalObjectCratesClasses: []
	ignoreErrors: []
	tmpDir: %rootDir%/tmp
	level: 5
